@import '../../styles/variables';

.wrapper {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 32px;
  width: 50%;

  .left, .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .topBar {
      width: 100%;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      span {
        font-size: 24px;
        font-weight: 500;

        padding-right: 24px;
      }
    }
  }

  .center {
    padding-top: 128px;
  }

  .right {

  }

}
